# The environment Craft is currently running in ("dev", "staging", "production", etc.)
ENVIRONMENT="production"

# The application ID used to to uniquely store session and cache data, mutex locks, and more
APP_ID="CraftCMS--40fadfbd-5acb-4346-8cc6-f36bc6a8bc5e"

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY="3ljockBwTfaBYkULjxspYb0SNw9s0iAD"

# The database driver that will be used ("mysql" or "pgsql")
DB_DRIVER="mysql"

# The database server name or IP address
DB_SERVER="127.0.0.1"

# The port to connect to the database with
DB_PORT=""

# The name of the database to select
DB_DATABASE="client-blmhe-org"

# The database username to connect with
DB_USER="root"

# The database password to connect with
DB_PASSWORD=""

# The database schema that will be used (PostgreSQL only)
DB_SCHEMA="public"

# The prefix that should be added to generated table names (only necessary if multiple things are sharing the same database)
DB_TABLE_PREFIX=""

SYSTEM_NAME="Black Lives Matter in Higher Education"

PRIMARY_SITE_URL="http://blmhe.org"