<nav id="jump-bar" class="jump-bar js-jump-bar {{classes}}">
  <ol class="list-inline ml-0 js-jump-bar-scroll">
    {% for link in links %}
    <li class="list-inline-item">
      <a class="nav-link" href="#{{link.id}}">{{link.text}}</a>
    </li>
    {% endfor %}
  </ol>
</nav>

{# 
<h2 id="fat" class="jump-bar__scroll-margin">@fat</h2>
<p>FAT</p>
<p>FAT</p>
<p>FAT</p>
<p>FAT</p>
<p>FAT</p>
<p>FAT</p>
<p>FAT</p>
<p>FAT</p>
<p>FAT</p>
<p>FAT</p>
<p>FAT</p>
<p>FAT</p>
<p>FAT</p>
<p>FAT</p>
<p>FAT</p>
<p>FAT</p>

<h2 id="mdo" class="jump-bar__scroll-margin">@mdo</h2>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>

<h2 id="kff" class="jump-bar__scroll-margin">@kff</h2>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p>
<p>MDO</p> #}
