<select onchange="document.location.href=this.value" class="aldrich-select">
  <option	value="{{titleLink}}">{{title}}</option>
  {% for option in options %}
  <option {% if option.selected %}selected{% endif %}	value="{{option.value}}">{{option.title}}</option>
  {% endfor %}
</select>