$padding: 10px;

.timeline-entry {
  background: white;
  img {
    float: right;
    padding: 0 0 $padding $padding;
    @include media-breakpoint-down(sm) {
      width: 33vw;
    }
    @include media-breakpoint-up(md) {
      width: 25vw;
    }
    @include media-breakpoint-up(lg) {
      width: 20vw;
    }
    @include media-breakpoint-up(xl) {
      width: 20vw;
    }
  }
  &__local {
    img {
      float: left;
      padding: 0 $padding $padding 0;
    }
  }
}
