@import "../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css";

.fancybox-container {
  @include sans-serif-regular;
  &__caption {
    // @include pgs-global-spacer-can
  }
}

// START absolute centering of image within box
.aldrich-fancybox {
  &--centered {
    @include media-breakpoint-up(xs) {
      img {
        height: 50vh;
        width: auto;
        margin: 0 auto;
      }
    }
    @include media-breakpoint-up(md) {
      .image-container {
        padding-bottom: 75%;
        height: 0;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          padding: 0 $grid-gutter-width/2;
        }
      }
    }
  }
}
// END absolute centering of image within box
