/* These are my resets on top of the resets that have come from Bootstrap (via reboot.scss) */

// Undoes the text-decoration hover set in reboot.scss
a {
  &:hover {
    text-decoration: initial;
  }
}

address {
	margin-bottom: 0;
}

dt,
dd,
dl,
b,
strong,
th {
	font-weight: inherit;
}

cite,
dfn,
em,
i,
var {
	font-style: inherit;
}

ins {
	text-decoration: inherit;
}

mark,
select {
	background-color: inherit;
	color: inherit;
}

caption {
	padding: inherit;
	color: inherit;
}

hr {
	margin: 0;
}

img {
	// My BaseImage uses LazySizes. I have a small low quality srcset image that initially loads and is replaced by LazySizes' srcset. There was a flicker between the small preload image and the fully loaded image which is fixed by this:
	width: 100%;
}

/**
 * Custom reset inspired by Tailwind from 12/2019
 */

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #a0aec0;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
	color: #a0aec0;
}

input::placeholder,
textarea::placeholder {
	color: #a0aec0;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

h1,
h2,
h3,
h4,
h5,
h6,
dd,
address,
ol,
ul,
dl,
blockquote,
pre,
figure {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
	color: inherit;
	text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
	padding: 0;
	line-height: inherit;
	color: inherit;
	border: none;
	background-color: transparent;
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
	max-width: 100%;
	height: auto;
}

ol,
ul {
  padding-left: 0;
  list-style: none;
}