/* Type styles across components go here. Type styles not shared across components go in their component file as this:

.my-local-component {
	@include pgs-global-type-canyon;
	@include media-breakpoint-only(xs) {
		color: red;
		font-size: $pgs-font-size-2;
	}
} 
*/

// @font-face {
//   font-family: "Londrina Solid";
//   src: url("https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap");
//   // font-weight: normal;
//   // font-style: normal;
//   // font-display: swap;
// }

// @font-face {
//   font-family: "Bowlby One";
//   src: url("https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap");
//   // font-weight: normal;
//   // font-style: normal;
//   // font-display: swap;
// }

// @font-face {
//   font-family: "RegularItalic";
//   src: url("../fonts/Regular-Italic.woff2") format("woff2"),
//     url("../fonts/Regular-Italic.woff") format("woff");
//   font-weight: normal;
//   font-style: italic;
//   // font-display: swap;
// }

// @font-face {
//   font-family: "RegularBold";
//   src: url("../fonts/Regular-Bold.woff2") format("woff2"),
//     url("../fonts/Regular-Bold.woff") format("woff");
//   font-weight: bold;
//   font-style: normal;
//   // font-display: swap;
// }

// @font-face {
//   font-family: "RegularBoldItalic";
//   src: url("../fonts/Regular-BoldItalic.woff2") format("woff2"),
//     url("../fonts/Regular-BoldItalic.woff") format("woff");
//   font-weight: bold;
//   font-style: italic;
//   // font-display: swap;
// }

// @font-face {
//   font-family: "ApercuPro";
//   src: url("../fonts/ApercuPro-Mono.woff2") format("woff2"),
//     url("../fonts/ApercuPro-Mono.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
//   // font-display: swap;
// }

$pgs-font-subsize-5: $font-size-base * 0.125; // 2
$pgs-font-subsize-4: $font-size-base * 0.3125; // 5
$pgs-font-subsize-3: $font-size-base * 0.625; // 10
$pgs-font-subsize-2: $font-size-base * 0.75; // 12
$pgs-font-subsize-1: $font-size-base * 0.875; // 14

$pgs-font-size-1: $font-size-base; // 16
$pgs-font-size-2: $font-size-base * 1.25; // 20
$pgs-font-size-3: $font-size-base * 1.5; // 24
$pgs-font-size-4: $font-size-base * 2.125; // 34
$pgs-font-size-5: $font-size-base * 3; // 48
$pgs-font-size-6: $font-size-base * 3.75; // 60
$pgs-font-size-7: $font-size-base * 6; // 96

@mixin sans-serif {
  // Google font coming in through tag in head
  font-family: "Londrina Solid", "helvetica neue", helvetica, arial, sans-serif;
}

@mixin sans-serif-two {
  // Google font coming in through tag in head
  font-family: "Bowlby One", "helvetica neue", helvetica, arial, sans-serif;
}

// @mixin sans-serif-oblique {
//   // 4/2020: This was not working on Safari 13.1
//   // font-family: "RegularItalic", "helvetica neue", helvetica, arial, sans-serif;
//   font-style: italic;
//   letter-spacing: .075rem;
// }

// @mixin sans-serif-bold {
//   font-family: "RegularBold", "helvetica neue", helvetica, arial, sans-serif;
//   letter-spacing: .075rem;
// }

// @mixin sans-serif-bold-oblique {
//   font-family: "RegularBoldItalic", "helvetica neue", helvetica, arial, sans-serif;
//   letter-spacing: .075rem;
// }

// @mixin serif {
//   font-family: "Londrina Solid", "helvetica neue", helvetica, arial, sans-serif;
// }

@mixin reading-link-style {
  a {
    text-decoration: underline;
    color: theme-color("primary");
  }
}
